<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    alt=""
    height="250px"
   >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versao do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum aut molestiae voluptas vel! Ab tempore ratione nulla doloribus eaque. Suscipit sapiente alias repudiandae facere. Nemo sit eligendi quas voluptates possimus.</a></p>
  </div>
</div>
