<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="artcle__main">
    <app-big-card
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Saiu Nova Versao do Angular"
      cardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum aut molestiae voluptas vel! Ab tempore ratione nulla doloribus eaque. Suscipit sapiente alias repudiandae facere. Nemo sit eligendi quas voluptates possimus."
    ></app-big-card>
  </div>
  <div class="artcle__others">
    <app-small-card
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Saiu a nova versao do Angular"
    ></app-small-card>
    <app-small-card
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Saiu a nova versao do Angular"
    ></app-small-card>
    <app-small-card
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Saiu a nova versao do Angular"
    ></app-small-card>
  </div>
</div>

